MONGODB_URI=mongodb://localhost:27017/
MONGODB_URI_FULL=mongodb://localhost:27017/impl_smart_warehouse
MONGODB_TEST_URI_FULL=mongodb://localhost:27017/impl_test_smart_warehouse
MONGODB_NAME=impl_smart_warehouse
MONGOTESTDB_NAME=impl_test_smart_warehouse
MQTT_BROKER=localhost
MQTT_USERNAME=mosquitto
MQTT_PASSWORD=mosquitto
PORT=5550
ENCRYPTION_KEY=OTYwV2FWLUdXYnJKMmgtWkpLNFVzRjhLODAtLUlkN01HWHdjTXd0aUZLST0=
APPLICATION_ENV=development
APP_NAME=SmartWareHouse
API_KEY=436236939443955C11494D448451F
BROKER_URL=redis://localhost:6379
RESULT_BACKEND=redis://localhost:6379